.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 90%;
    margin-top : 60px;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-banner {
    width: 100%;
    background-color: #1c1c1c;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    color: white;
    font-size: 1.75rem;
}

.titles {
    font-style: italic;
}

.profile-banner-header {
    display: flex;
    align-items: center;
}

.profile-banner-right {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.profile-banner-header-left {
    margin-right: auto;
}

.profile-banner-header-right {
    left: 0;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.badge {
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    opacity: 50%;
}